.breadcrum {
  height: 130px;
  background-color: #fafbfd;
  padding: 60px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;

  &_left {
    display: flex;
  }

  &_icon {
    margin-right: 26px;
    img {
      height: 24px;
      width: 24px;
    }
  }

  &_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    color: #09477d;
  }

  &_list {
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      cursor: pointer;
    }
  }

  &_item {
    font-size: 16px;
    color: #2684ff;
    margin-right: 15px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      &::after {
        content: ">";
        margin-left: 15px;
      }
    }
  }

  &_item.active {
    font-weight: 600;
  }
}
